@import url(PxPlus_IBM_VGA8.css);

body {
	background-color: black;
	color: #aaa;
	font-family: 'PxPlus IBM VGA8', monospace;
	font-size: 16px;
}

nav {
	background-color: black;
	padding: 8px 16px;
	border-image-source: url(border.png);
	border-image-slice: 16 8;
	border-image-width: 16px 8px;
	border-image-repeat: repeat;
}

* {
	font-weight: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
}

h1 {
	background-color: #0aa;
	color: black;
	padding: 8px;
	margin-bottom: 8px;
}

h1.shadow {
	box-shadow: 8px 8px 0 black;
	margin-right: 8px;
	margin-bottom: 16px;
	padding: 16px;
}

h2 {
	color: #5ff;
}

h3 {
	color: #0aa;
}

footer {
	position: fixed;
	margin: 0;
	padding: 8px;
	left: 0; bottom: 0;
	width: 100%;
	background-color: #0aa;
	color: black;
}

footer p {
	margin: 0;
}

footer a {
	color: #ff5;
}

footer a:hover {
	background-color: #ff5;
	color: black;
}

a {
	color: #55f;
	text-decoration: none;
}

i, em, b {
	color: white;
}

strong {
	color: #f55;
}

a:hover {
	color: black;
	background-color: #55f;
}

blockquote {
	background-color: #555;
	color: white;
	font-family: inherit;
	font-style: inherit;
	margin-left: 32px;
	padding: 16px;
}

kbd, code {
	color: #f5f;
}

ul li {
	list-style-type: '\0025CB';
}

input {
	font-family: inherit;
	color: white;
	background-color: #00a;
	border: none;
}

menu {
	padding: 0;
	color: #5f5;
	background-color: black;
}

menu h2 {
	color: #5f5;
}

/*menu h2::before {
	content: '\0025BC';
	margin-right: 8px;
}*/

a.blocklink, menu > a {
	display: list-item;
	list-style-type: none;
	padding: 8px;
	color: #5ff;
}

a.blocklink:hover, menu > a:hover {
	color: black;
	background-color: #5ff;
}

a.blocklink img > menu > a img {
	vertical-align: middle;
}

a.blocklink:hover img, menu > a:hover img {
	filter: invert(100%);
}

a.blocklink::before, menu > a::before {
	content: '\0025BA';
	margin-right: 8px;
}

a.blocklink[href^='#'] {
	color: #f5f;
}

a.blocklink[href^='#']:hover {
	color: black;
	background-color: #f5f;
}

a.blocklink[href^='#']::after {
	content: '\0025C4';
	margin-left: 8px;
}

nav.menu-group {
	display: flex;
	flex-wrap: wrap;
	border-image: none;
	border-top: 1px solid #f5f;
	border-bottom: 1px solid #f5f;
}

nav.menu-group menu {
	flex-grow: 1;
}

button, input[type='submit'] {
	background-color: #aaa;
	color: black;
}

button:hover, input[type='submit']:hover {
	background-color: white;
}

button::before, input[type='submit']::before {
	content: '[';
	margin-right: 8px;
}

button::after, input[type='submit']::after {
	content: ']';
	margin-left: 8px;
}

#backhome {
	color: #0a0;
}

#backhome::before {
	content: '\0025C4';
	margin-right: 8px;
}

#backhome:hover {
	background-color: inherit;
	color: #5f5;
}
